# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
unordered list

 - show popular langauages used 
 - show commonly used libraries
 - show a table of data science tools

Some of the popular languages that Data Scientists use are:
    
    1. Python
    2. SQL
    3. R

Some of the commonly used libraries used by Data Scientists include:
    
    1. Pandas
    2. Tensorflow
    3. NumPy

| Data Science Tools|
| ----------- |
| Pandas |
|Spark |
|Tensorflow |

### Below are a few examples of evaluating arithmetic expressions in Python ###

This a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

his will convert 200 minutes to hours by diving by 60

In [40]:
(200/60)

3.3333333333333335

 ## Author ##

Daniel